In [1]:
# import libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
# load all 3 datasets
# load calendar 
calendar_df = pd.read_csv('data/calendar.csv.gz', compression='gzip', low_memory=False)
calendar_df.head()

/tmp/ipykernel_38480/4137592374.py:3: DtypeWarning: Columns (4) have mixed types. Specify dtype option on import or set low_memory=False.
  calendar_df = pd.read_csv('data/calendar.csv.gz', compression='gzip')

,listing_id,date,available,price,adjusted_price,minimum_nights,maximum_nights
0,3191,2024-06-29,f,$47.00,NaN,3.0,730.0
1,3191,2024-06-30,f,$47.00,NaN,3.0,730.0
2,3191,2024-07-01,f,$47.00,NaN,3.0,730.0
3,3191,2024-07-02,f,$47.00,NaN,3.0,730.0
4,3191,2024-07-03,f,$47.00,NaN,3.0,730.0

In [4]:
# load listings
listings_df = pd.read_csv('data/listings.csv.gz', compression='gzip')
listings_df.head(2)

,id,listing_url,scrape_id,last_scraped,source,name,description,neighborhood_overview,picture_url,host_id,...,review_scores_communication,review_scores_location,review_scores_value,license,instant_bookable,calculated_host_listings_count,calculated_host_listings_count_entire_homes,calculated_host_listings_count_private_rooms,calculated_host_listings_count_shared_rooms,reviews_per_month
0,3191,https://www.airbnb.com/rooms/3191,20240629050116,2024-06-29,city scrape,Malleson Garden Cottage,"This is a lovely, separate, self-catering cott...","Mowbray is on the Southern Suburbs line, 6km (...",https://a0.muscache.com/pictures/697022/385407...,3754,...,4.96,4.77,4.81,NaN,t,1,1,0,0,0.59
1,298622,https://www.airbnb.com/rooms/298622,20240629050116,2024-06-29,city scrape,Stunning Sea View apt on the Cape Peninsula,"This light, airy, well equipped self-catering...","The area is very beautiful, with sea and mount...",https://a0.muscache.com/pictures/3547300/40a29...,1539169,...,4.99,4.87,4.89,NaN,f,1,1,0,0,0.47

In [5]:
# load reviews
reviews_df = pd.read_csv('data/reviews.csv.gz', compression='gzip')
reviews_df.head(2)

,listing_id,id,date,reviewer_id,reviewer_name,comments
0,3191,4888238,2013-05-31,5737473,Kathleen,Great home away from home! Bridgette and Marth...
1,3191,9128602,2013-12-09,8170322,Anita,Das Cottage liegt ruhig und sicher. Wir haben...

In [6]:
# Merging dataframes
# Step 1: Merge listings_df with calendar_df using 'id' from listings_df and 'listing_id' from calendar_df
merged_df = pd.merge(listings_df, calendar_df, left_on='id', right_on='listing_id')

# Step 2: Merge the result with reviews_df using 'listing_id' from both dfs
capetown_airbnb_df = pd.merge(merged_df, reviews_df, on='listing_id')

: